.add-bg-light_leetcode-enhancer {
    background-color: #a1ffa5 !important;
}

.add-bg-dark_leetcode-enhancer {
    background-color: rgb(115, 115, 115) !important;
}

.hide_leetcode-enhancer {
    display: none !important;
}

.visible_leetcode-enhancer {
    display: block !important;
}

.remove_diff_color_leetcode-enhancer {
    color: black !important;
    background-color: grey !important;
    border-color: grey !important;
}

.color-alfa0 {
    color: rgba(0, 0, 0, 0);
}

.blur {
    border-color: gray !important;
    color: gray !important;
    background-color: white !important;
}