$f1: 20px;
$f2: 12px;
$c1: #F0F0F0;
$bg-dark: rgba(40, 42, 46, 1);
$bg2-dark: rgba(34, 35, 37, 1);
$bg3-dark: rgb(60, 60, 61);
$c1-dark: rgba(255, 255, 255, 0.9);
html,
body {
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

.wrapper {
    max-width: 1000px;
    min-width: 280px;
}

.wrapper {
    .link {
        font-size: $f2;
        text-align: center;
    }
    .brand {
        background-color: $bg-dark;
        font-size: $f1;
        padding: 10px;
        color: $c1-dark;
        .title {
            text-decoration: none;
            color: $c1-dark;
            &:hover {
                color: grey;
            }
        }
        ;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0.25) 0px 4px 4px 0px,
        rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    }
    .logo {
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }
    .github {
        margin-top: 10px;
        filter: invert(1);
    }
    .brand span {
        position: absolute;
        padding-left: 10px;
    }
    .notice {
        padding: 10px;
        font-weight: bold;
        color: black;
        line-height: 15px;
        background-color: #FFAB00;
    }
    .options {
        padding: 10px;
        background-color: $bg2-dark;
        color: $c1-dark;
        div {
            margin-top: 10px;
            margin-bottom: 10px;
            input {
                float: right;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .quote {
        max-width: 350px;
        max-height: 300px;
        display: none;
        background-color: $bg3-dark;
        padding: 5px 10px;
        color: $c1-dark;
        .quote-text {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            font-style: italic;
            line-height: 17px;
        }
        .quote-author {
            text-align: right;
        }
    }
    .footer {
        background-color: $bg-dark;
        padding: 5px 10px;
        a {
            text-decoration: none;
        }
        span {
            position: relative;
            color: $c1-dark;
        }
        #fBtn span {
            text-decoration: underline;
        }
        // img {
        //     height: 20px;
        //     width: auto;
        // }
        #deBtn {
            float: right;
            cursor: pointer;
        }
    }
    .details {
        color: $c1-dark;
        background-color: $bg-dark;
        padding: 5px 10px;
        line-height: 15px;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 4px 4px 0px, rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    }
    .creator {
        color: $c1-dark;
        background-color: $bg-dark;
        padding: 5px 10px;
        text-align: center;
        .linkedin {
            height: 20px;
            width: 20px;
            margin-bottom: -5px;
        }
    }

    .contributors {
        a {
            color: $c1-dark;
        }
        padding: 5px 10px;
        text-align: center;
    }
}

/* Checkbox UI enhancement */

input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-label {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url('/images/close_eye.png');
    background-size: contain;
  }
  
  input[type="checkbox"]:checked + .checkbox-label {
    background-image: url('/images/eye_open.png');
  }
  
  
  .option-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  